@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Press+Start+2P&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=UnifrakturCook'); */

.blogWrapper p {
  color: white;
  font-size: 20px;
  font-family: 'Oswald', sans-serif
}

.subscribeButton {
  font-size: 18px;
  font-family: 'Oswald';
  border: 0.2rem solid #fff;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe; 
  padding: .5em;
  cursor: pointer;
  /* margin-left: 1em; */
  text-transform: uppercase;
  color: white;
}

.blogWrapper a {
  color: yellow;

}
.blogWrapper ul {
  color: white;
  /* background: purple; */
  padding: 1em;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-wrap: wrap; */
  padding: 1em;
}

.ucWrapper {
  background: purple;
  padding: 1em;
}
.ucTicket {
  color: pink;
}

.ucWrapper ul{
  margin: 0;
  padding-bottom: 0;
}

.ucWrapper h3 {
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.ucWrapper li {
  display: grid;
  grid-template-columns: 60px 1fr 50px;
}

.postLi {
  max-width: 375px;
  position: relative;
  overflow: hidden;
  /* margin: 1em; */
}

.blogWrapper h1 {
  font-size: 37px;
  color: #f5c0cc;
  font-weight: 700;
  text-align: center;
}

.rewindHead {
  font-family: 'Press Start 2P', cursive;
}

.blogWrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em;
  /* font-family: 'Oswald', sans-serif; */
}

.indexTitle {
  color: white !important
}

.vidWrap {
  position: relative;
  top: 0; left: 0; right: 0; bottom: 0;
  height: 315px;
  /* overflow: hidden; */
}

.vidWrap video {
  width: 100%;
 position: relative;
  height: 500px;
  object-fit: cover;
  top: -70px;
  /* background-color: blue; */
}

.rewindBanner {
  /* display: grid;
  grid-template-columns: 315px 1fr; */
}

.vidEvents {
  display: grid;
  grid-template-columns: 70px 200px 70px;
  justify-content: center;
}

.freakOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(37,0,88,.5);
  z-index: 10000;
}

.freakWrap {
  position: relative;
  overflow: hidden;
  max-width: 500px;
  /* border: 0.1rem solid rgba(255,255,255,1); */
  box-shadow: 
  0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe; 
  border-radius: .2em;
}

.eventVidContent {
  position: absolute;
  top: -37px;
  left: 0;
  z-index: 100;
  width: 100%;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  z-index: 100005;
  opacity: .6;

}


.imageWrapper {
  min-width: 400px;
  height: auto;
  min-height: 315px;
  position: relative;
}

.date {
  position: relative;
  top: -15px;
  font-size: 14px;
}

.subscribeContainer {
  margin: 20px 0px;
  padding: 24px;
  /* max-width: 768px; */
  box-sizing: border-box;
  border: 1px solid #d0d0032e;
  background: purple;
}

.subHeader {
  font-size: 1.75rem;
  font-weight: bold;
  margin: .5em 0;
}

.subscribeContainer .sub-text {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #2d3748;
  line-height: 1.5;
}
.subFormContainer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.inputForm {
    width: 95%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 16px;
}

.inputForm input {
  outline: #f9fafb;
  display: block;
  width: 100%;
  background-color: #f9fafb;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
  border: 1px solid #6a4feb2e;
  font-size: 16px;
  margin-right: .5em;
}

.subButton button {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  background: #7f5bd5b0;
  color: white;
  cursor: pointer;
}

.successState {
  color: #087d07;
  padding-top: 20px;
}
.errorState {
  color: #b00020;
  padding-top: 20px;
}



@media only screen and (max-width: 975px) {
  .posts {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 725px) {
  .inputForm {
    flex-direction: column;
  }

  .inputForm input {
    margin-bottom: .5em;
  }


.blogWrapper h1 {
  font-size: 27px;
}

}


