@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap');

.future-content {
  position: absolute;
  z-index: 10;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadein 9s;
}

.future-content h3 {
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 44px;
  text-align:center;
}

@keyframes fadein {
  0% { opacity: 0; }
  60% {opacity: 00 }
  100%   { opacity: 1; }
}


.vaporplanes {
  z-index: 10000;
  background: black;
}

.vaporplanes h3 {
  cursor: pointer;
  padding: 1em;
  background: rgba(0,0,0, .5);
  transition: .5s;
  color: orange;
}

.vaporplanes button {
  color: orange;
  margin: 0;
}

.vaporplanes h3:hover {
  color: purple;
}

.vp-content {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  /* transform: translate(-50%, -50%); */
  animation: fadein 3s;
}

.nft-fo {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 220px;
  /* height: 400px; */
  background: rgba(0,0,0, .5);
  color: white;
  padding: 1em;
  /* opacity: 0; */
  /* animation: fadeIn 2s */
}

.meta-fo {
  top: auto;
  bottom: 10px;
  right: 0;
}

.fade-out {
  animation: fadeOut 1s;
  opacity: 0;
}

.fade-in {
  animation: fadeIn 2s
}
.close {
  position: absolute;
  z-index: 10;
  top: 5px;
  right: 15px;
  cursor: pointer;
}

.vapor-link {
  background: rgba(0,0,0, .5);
  cursor: pointer;
  transition: .5s;
  display: flex;
  justify-content: space-around;
}
.vapor-back {
  color: white;
  position: absolute;
  left: 0;
  top: 10px;
  color: orange;


}

.vapor-link .vp-social {
  width: 20px;
  align-self: center;
  position: relative;
  top: 3px;

}

.vaporlink-img {
  width: 60px;
  height: auto;
  margin: 0 auto;
  padding: .25em;
}

.vaporlink-img img {
  position: relative;
  top: 3px;
}

.sketch-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 3;
  overflow: hidden;
}

.vapor-loading {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 300px;
  color: white;
}

.react-p5 {
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background-color:none; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-p5 canvas {
  /* object-fit: contain;
  max-height: 100%;
  max-width: 100%; */
}

.meta-item {
  display: flex;
  flex-wrap: wrap;
}

.meta-label {
  width: 70px;
}



@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

.loading-screen-wrapper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,.97);
  z-index: 10000000;
}
