@font-face {
  font-family: 'Stellar-Light';
  src: url('/fonts/Stellar-light.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stellar-Bold';
  src: url('/fonts/Stellar-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

/* @import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Press+Start+2P&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Palette+Mosaic&display=swap'); */

:root {
  --section-width: 900px;
  --logo-font-light: 'Stellar-Light';
  --logo-font-bold: 'Stellar-Bold';
  --pink: RGBA(253, 113, 198, 1.00);
  --green: RGBA(51, 255, 21, 1.00);
  --blue: RGBA(14, 217, 255, 1.00);
  --purp: #cd42c9
}


body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #010002;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3, h4 {
  /* font-family: 'Press Start 2P', cursive; */
  color: #cd42c9;
  font-family: 'Gruppo', serif;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 28px;
}

.loading {
  width: 100vw;
  height: 100vh;
  background: black;
}

.homepage-container {
  min-height: 90vh;
  position: relative;
  overflow: hidden;
  /* background: black; */
  /* opacity: .6; */

}

.video-2 {
  position: absolute;
  width: 100vh;
  height: 100vh;
  position: fixed;
  top: 0;
left: 0;
z-index: -1
}

.video-2 video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.video {
object-fit: cover;
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
z-index: -1
}

.logo-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
  width: 100%;
  /* pointer-events: disable; */
  z-index: 200;
  padding: 1em;
  height: 240px;
  top: 40px;
} 

.key-bg {
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: white;
  top: 0;
  animation: fadeIn 7s;
  animation-delay: 3500ms;
  opacity: 0;
}

.key-bg h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.keyhole-punch {
  animation: keyhole 6s;
  z-index: 100000000;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  top: 50%;
  /* animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0); */
}

.keyhole-punch-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  width: 200px;
  height: 400px;
  z-index: 1000;
  animation: keyhole2 5s;
  animation-delay: 3s;
} 

.kp2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) scale(100%);
  width: 200px;
  height: 400px;
  z-index: 1020;
}

.kp2 .logo-wrapper {
  opacity: .2;
}


/* .logo-2-wrap {
  width: 400px;
  max-width: 500px;
  z-index: 2050;
  min-height: 300px;
} */
.logo-landing {
  opacity: 1;
  max-width: 100%;
  margin-bottom: 1em;
}

.page-content-container {
  max-width: var(--section-width);
  margin: 0 auto;
  padding: 1em;
  position: relative;
  min-height: 100vh;
}


.landing-content-container {
  margin: 0 auto;
  position: relative;
 
}

.taglineWrapper {
  padding: 0 1em;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
}

.tagline {
  position: relative;
  font-size: 2rem;
  margin: 1em auto;
  line-height: .9;
  font-family: 'Gruppo', serif;
  text-transform: uppercase;
  color: #b93bb6;
  font-weight: 700;
  z-index: 1003;
  max-width: 600px;
  border-radius: .1em;
  border: 0.2rem solid #fff;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe; 
  min-width: 500px;
  min-height: 600px;
  background: rgba(0,0,0,.4)
  /* transform: translateX(-50%); */
}

.fadeout {
  animation: fade 10s;
  opacity: 0;
}


.tag2 {
  font-size: 1.25rem;
  color: white;
  margin-top: .35em;
}

.home-nav {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .25em 1em;
  position: relative;
  z-index: 10000;

}

.work-div, .home-nav a {
  font-family: var(--logo-font-bold);
  cursor: pointer;
}

.text-glow {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  transition: 1s ease-out;
  cursor: pointer;
}

.text-glow-alt {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px var(--blue), 0 0 30px var(--blue), 0 0 40px var(--blue), 0 0 55px var(--blue), 0 0 75px var(--blue);
  transition: 1s ease-out;
  cursor: pointer;
}

.text-glow:hover, .text-glow-alt:hover {
  color: #000;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px var(--blue), 0 0 30px var(--blue), 0 0 40px var(--blue), 0 0 55px var(--pink), 0 0 75px var(--blue);
}


@keyframes fadeIn {
  0% {
      opacity: 0;
  } 
  100% {
      opacity: 1;
  }
}





html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.ps37-app {
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em 2em 2em;
  color: #333;
  min-height: 90vh;
}


.event-page h1 {
  text-align: center;
  position: relative;
  margin-top: 2em;
  text-transform: uppercase;
  /* color: white; */
}

.event-card {
   width: 332px;
   min-height: 470px;
  background: #111;
  padding: 1em;
  margin: 1em;
  color: white;
}

.events-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.event-image {
  width: 300px;
  height: 400px;
}

.event-link {
  color: yellow;
  transition: 1s;
}

.event-link:hover {
  color: white;
}


.event-image img {
  width: 100%;
  height: 100%;
}

.footer {
  z-index: 10;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 1em;
   
}

.block-footer {
  display: block;
  position: relative;
  bottom: auto;
}

.footer-list {
  list-style: none;
  color: #6e0d60;
  margin: 0;
  padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer-list li a{
  font-size: 24px;
  font-weight: 300;
  text-decoration:none;
}

.footer-img {
  width: 90px;
  margin: 0 auto;
  position: relative;
  top: -10px;
}

.footer-img img {
  width: 100%;
}

.footer-rent {
  border: 1px solid purple;
  height: 43px;
  padding: 0.25em 1em;
  background: purple;
  color: yellow;
  transition: 1s;
  border-radius: .2em;
}

.footer-rent:hover {
  background: #ffd93d;
  color: purple;
}

.video-ol {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255,113,0,.8);
  z-index: 0;
}

.flex-footer-link {
  display: flex;
  justify-content: space-around;
}

.flex-footer-link .activeLink {
  color: white;
  font-family: 'Press Start 2P';
  font-size: 18px;
  position: relative;
  top: 10px;
}

.mobile-link {
  color: #f5c0cc;
}

@media only screen and (max-width: 725px)  {
  .footer {
    position: relative;
    
  }
}

@media only screen and (max-width: 675px)  {
  .events-wrap {
    justify-content: center;
  }

  .header-shiv {
    width: 100%;
    height: 60px;
  }


  .tagline {
    transform:none;
    position: relative;
    /* top:-220px; */
    left:auto; 
    max-width: 400px;
    margin: 0 auto;
    min-width: auto;
  }

  .homepage-container {
    min-height: 50vh;
  }
  .header {
    display: none;
  }

  .footer {
    display: none;
  }

  .header-mobile {
    display: block !important;
  }

  .key-bg h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


  .flex-footer-link {
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1em;
}
  /* transform: rotate3d(-11, 20, -5, 40deg); */
}

@media only screen and (max-width: 500px)  {
  .footer-list {
    grid-template-columns: 1fr;
    padding-bottom: 1em;

  }

  .footer-list a {
    /* color: white; */
  }

  .flex-footer-link {
    flex-direction: column;
    margin-bottom: 1em;
  }
  .flex-footer-link a{
    /* flex-direction: column; */
    margin-bottom: 1em;
  }

  /* .logo-wrapper {
    max-width: 370px;
  } */

  /* .logo-wrapper img {
      max-width: 270px !important;
  } */
  
  .tagline {
    font-size: 2em;
  }
  /* .homepage-container {
    height: 70vh;
  } */

}

.sketch-wrapper video {
  width: inherit;
  height: inherit;
  -o-filter: blur(3px);
  filter: blur(3px);
  object-fit: cover;
  /* transform: scale(1.04); */
}


.date {
  color: white;
  font-style: italic;
  font-size: 14px;
  margin-top: -20px;
}

.header {
  padding-top: 20px;
  position: relative;
  z-index: 1000;
}

.header-mobile {
  display: none;
  /* margin-bottom: 2em; */
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
  background: rgba(0,0,0,.2);
  padding-bottom: .25em;

}



.header-mobile .footer-list {
  text-align: left;
  margin-left: 0;
  margin-top: 0;
  position: fixed;
  z-index: 1000;
  top: 54px;
  margin-top: 0;
  height: 100vh;
  background-color: rgba(100, 0, 100, .8);
  display: flex;
  flex-direction: column;
  color: white;
  width: 80%;
}

.header-mobile .flex-footer-link {
  border-bottom: white 1px solid;
  padding-top: 1em;
}

.header-mobile .flex-footer-link:first-child {
  /* padding-top: 0; */
}

.header-mobile .flex-footer-link a {
  margin-bottom: 0;
}

.mobile-logo {
  width: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%)
}



@keyframes rotateMast {
  0% { transform: rotateY(360deg) rotate3d(-11, 20, -5, 40deg);

  }
  100% {
      transform: rotateY(0deg) rotate3d(-11, 20, -5, 40deg);
  }
}

@keyframes keyhole {
  0% { 
    /* -webkit-transform: translateX(-50%); */
    transform: translateX(-50%);
    left: 50%;
    /* top: 50%; */
  }

  /* 40% { 
    transform: translateX(-50%) scale(-50%);
  } */

  /* 30% {
    left: 50%;
    transform: translateX(-50%) scale(5%); 
  } */

  100% {
    left: 50%;
    /* -webkit-transform: translateX(-50%) scale(0); */
    transform: translateX(-50%) translateY(50%) scale(700%); 
  }
}

@keyframes keyhole2 {
  0% { 
    transform: translateX(-50%) translateY(-50%) scale(0);
    top: 50%;
    left: 50%;
    
    /* top: 65%; */
  }



  100% {
    top: 325%;
    
      /* /* left: 50%; */
      /* top: 50%; */ 
      /* top: 200%; */
      transform: translateX(-50%) translateY(-50%)  scale(2400%); 
  }
}

@keyframes fade {
  0% { 
    opacity: 1;

  }

  /* 20% {
    opacity: .4;
  } */

  100% {
      opacity: 0;
  }
}

@keyframes fadeIn {
  0% { 
    opacity: 0;

  }


  100% {
      opacity: 1;
  }
}




