.supportPage, .successPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  color: #ddd;
  padding: 1em;
}

.successPage {
  flex-direction: column;
  align-items: initial;
  flex-wrap: nowrap;
  
}

.supportPage h2, .successPage h2 {
  font-family: 'Press Start 2P';
  color: white;
  font-size: 15px;
  line-height: 1.4em;
  max-width: 800px;
  text-align: center;
}

.supportPage h1 {
  font-family: 'Press Start 2P';
  color: white;
  font-size: 24px;
  line-height: 1.4em;
}

.supportPage p {
  /* color */
  text-align: left;
  line-height: 2.3em;
  font-size: 24px;
}

.supportContent {
  position: relative;
  z-index: 100;
  text-align: center;
  font-size: 1.2em;
  background: rgba(0,0,0,.75);
  padding: 1em;
}

.patronName {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  font-family: 'PressStart2p';
  font-size: 14px;
  max-width: 430px;
  border: 4px dotted pink;
  padding: 1em;
  margin: 0 auto;
}

.patronName input {
  border: purple 4px dotted;
  background-color: transparent;
  color: white;
  margin-top: 10px;
  font-family: 'PressStart2p';
  padding: .5em;
  font-size: 15px;
}

.successPerson h2 {
  color: pink !important;
  position: relative;
  z-index: 200;
}

.patronName input:focus {
   outline: none !important;
}

.patronName button {
  font-family: 'PressStart2p';
  margin-top: 1em;
  color: white;
  background: #01aca1;
  border: none;
  padding: .25em 0;
  cursor: pointer;
}

.button {
  background: transparent;
  color: #01aca1;
  padding: .5em;
  /* border-radius: .3em; */
  width: 400px;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
  display: block;
  cursor: pointer;
  font-weight: bold;
  border: 4px dotted  #01aca1;
  font-family: 'Press Start 2P';
  transition: 1s;
  background: purple;
  color: white;
  border: none;
}

.button:hover {
  border: 4px dotted  #01aca1;
  background: transparent;
   color: white;
   /* border: none; */
}

.donationStats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.credits {

  position: relative;
  z-index: 1000;
  height: 550px;
  overflow: hidden;
  /* padding: 1em; */
}

.donorList {
  list-style: none;
  /* width: 350px; */
  margin-left: 0;
  padding: 0 1em;
  animation: credits infinite linear 60s;
  position: absolute;
  left: 50%;
    transform: translateX(-50%);
  /* top: 0; */
}

.donorList li {
  /* display: flex;
  justify-content: space-between; */
  font-size: 18px;
  font-family: 'PressStart2p';
  margin-bottom: 1em;
  text-align: center;
  line-height: 1.2em;
  margin-bottom: 3em;
}

.job {
  font-size: 10px;
  margin-bottom: 0em;
  color: pink;
}

.donor {
  font-size: 16px;
  line-height: 1.3em;
}

.divider {
  text-decoration: underline;
}

.audioH2 {
  position: relative;
  z-index: 1000;
  display: flex;
  color: '#a730a1';
  justify-content: center;
  cursor: pointer;
}


@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -350%;
  }
}


